<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=donnamstorage;AccountKey=1mCAa1Vyqr0FXWkvox25KIsZYvzO26/KZp8twOxFIkMszpFJmhEGzg4hLmxCLkGb/H1ksdwbCEOZdaoZM0DIfg==;BlobEndpoint=https://donnamstorage.blob.core.windows.net/;QueueEndpoint=https://donnamstorage.queue.core.windows.net/;TableEndpoint=https://donnamstorage.table.core.windows.net/;FileEndpoint=https://donnamstorage.file.core.windows.net/;" />
  
  </connectionStrings>

  <appSettings>
    <add key="SlackWebHook" value="https://hooks.slack.com/services/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" />
  </appSettings>
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
